* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* utilities */
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px; 
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.style-none {
    list-style: none;
}

/* HEADER */
h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
}
.header {
    background-color: white;
    margin-bottom: 60px;
}

.logo img {
     width: 60px;
     vertical-align: middle;
}


/* MAIN */
main{
     margin: 0 250px;
}

/* buttons-section */
.button-section {
    background-color: white;
    margin-bottom:4px;
    border-top-left-radius: 10px;             
    border-top-right-radius: 10px;            
    padding: 20px 0 12px 60px;
}

.button-section button {
    padding: 8px 15px;
    background-color: white;
    color: rgb(170, 170, 170);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

button:active{
    background-color: rgb(70, 160, 210);
    border: 1px solid rgb(70, 160, 210);
    color:white;
}

/* list-section */
.list-section {
    background-color: white;
    border-bottom-left-radius: 10px;             
    border-bottom-right-radius: 10px;            
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.list-section h3 {
padding-bottom: 5px;
padding-top: 5px;

}

.style-none li{
    padding-bottom: 12px;
}

.check {
    display: inline-block;
    border: 1px solid rgb(0, 180, 0);
    color: rgb(0, 180, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 0.6em;
    margin-right: 10px;
}

.cross {
    display: inline-block;
    border: 1px solid red;
    color: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 0.6em;
    margin-right: 10px;
}

/* list-section-tags */
.tag {
    display:inline-block;
    padding: 5px 10px;
    background-color: rgb(70, 160, 210);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 0.6em;
    margin-left: 5px;
}

.q1-goals {
    background-color: rgb(155, 95, 155);
}

.recruiting {
    background-color: rgb(117, 189, 165);
}

.mobile {
    background-color: rgb(221, 165, 109);
}

.website {
    background-color: rgb(192, 112, 179);
}

.sales {
    background-color: rgb(184, 184, 78);
}
