* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
}
/* utilities */
.py {
    padding: 5px 0;   
}

.px {
    padding: 0 20px;
}

/* header */
h1 {
    display: inline-block;
    vertical-align: middle;
}
.header {
    background-color: white;
    margin-bottom: 60px;
}

.logo img {
     width: 60px;
     vertical-align: middle;
}


/* main */

